@import url(https://db.onlinewebfonts.com/c/b89af63f1d0fa3bbb52eb95ab3fcc2fa?family=Monstro);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monstro';
    font-weight: 100;
}

body{
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #171717;
}

.wrapper{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper h1{
    padding-top: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 28px ;
    font-size: 40px;
}

.title {
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
}

.wrapper .card_Container{
    /* border: 1px solid white; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.core-team{
    /* border: 1px solid white; */
    border-radius: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 30px 0;
}
.technical-team{
    /* border: 1px solid white; */
    border-radius: 20px;
    position: relative;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.management-team{
    /* border: 1px solid white; */
    border-radius: 20px;
    position: relative;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.social-team{
    /* border: 1px solid white; */
    border-radius: 20px;
    position: relative;
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.treasury-team{
    /* border: 1px solid white; */
    border-radius: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 40px 0;
}

.publicity-team{
    /* border: 1px solid white; */
    border-radius: 20px;
    position: relative;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.card_Container .card{
    position: relative;
    width: 250px;
    height: 320px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title .card{
    position: relative;
    width: 280px;
    height: 320px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.core-team .card{
    position: relative;
    width: 280px;
    height: 320px;
    margin: 20px;
    padding: auto;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.technical-team .card{
    position: relative;
    width: 280px;
    height: 320px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.management-team .card{
    position: relative;
    width: 280px;
    height: 320px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-team .card{
    position: relative;
    width: 280px;
    height: 320px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.treasury-team .card{
    position: relative;
    width: 280px;
    height: 320px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.publicity-team .card{
    position: relative;
    width: 280px;
    height: 320px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card .imbBx, .imbBx img{
    width: 100%;
    height: 100%;
}

.card .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: bottom 0.5s;
    /* transition-delay: 0.65s; */
}

.card:hover .content{
    bottom: 0;
    transition-delay: 0s;
}

.content .contentBx h3{
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    /* transition-delay: 0.6s; */
    opacity: 0;
    transform: translateY(-20px);
}

.card:hover .content .contentBx h3{
    opacity: 1;
    transform: translateY(0);
}

.content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.content .sci{
    position: relative;
    bottom: 10px;
    display: flex;
}

.content .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0s;
}

.card:hover .content .sci li{
    transform: translateY(0);
    opacity: 1;
}

.content .sci li a{
    color: #fff;
    font-size: 24px;
}

@media screen and (max-width:1500px) {
    .core-team{
        grid-template-columns: repeat(3,1fr);
        width: fit-content;
        margin: auto;
    }
    .core-team .card{
        width: 300px;
        height: 350px;
    }
    .technical-team{
        grid-template-columns: repeat(3,1fr);
        width: fit-content;
        margin: auto;
    }
    .technical-team .card{
        width: 300px;
        height: 350px;
    }
    .management-team{
        grid-template-columns: repeat(3,1fr);
        width: fit-content;
        margin: auto;
    }
    .management-team .card{
        width: 300px;
        height: 350px;
    }
    .social-team{
        grid-template-columns: repeat(3,1fr);
        width: fit-content;
        margin: auto;
    }
    .social-team .card{
        width: 300px;
        height: 350px;
    }
    .publicity-team{
        grid-template-columns: repeat(3,1fr);
        width: fit-content;
        margin: auto;
    }
    .publicity-team .card{
        width: 300px;
        height: 350px;
    }
}
@media screen and (max-width:1060px) {
    .core-team{
        grid-template-columns: repeat(2,1fr);
        width: fit-content;
        margin: auto;
    }
    .core-team .card{
        width: 300px;
        height: 350px;
    }
    .technical-team{
        grid-template-columns: repeat(2,1fr);
        width: fit-content;
        margin: auto;
    }
    .technical-team .card{
        width: 300px;
        height: 350px;
    }
    .management-team{
        grid-template-columns: repeat(2,1fr);
        width: fit-content;
        margin: auto;
    }
    .management-team .card{
        width: 300px;
        height: 350px;
    }
    .social-team{
        grid-template-columns: repeat(2,1fr);
        width: fit-content;
        margin: auto;
    }
    .social-team .card{
        width: 300px;
        height: 350px;
    }
    .publicity-team{
        grid-template-columns: repeat(2,1fr);
        width: fit-content;
        margin: auto;
    }
    .publicity-team .card{
        width: 300px;
        height: 350px;
    }
    .card_Container .card{
        width: 300px;
        height: 350px;
    }
}

@media screen and (max-width:600px) {
    .wrapper .card_Container{
        justify-content: center;
        flex-direction: column;
        /* margin-left: 2%; */
    }
    .core-team{
        grid-template-columns: repeat(1,1fr);
        width: fit-content;
        /* margin: auto; */
    }
    .technical-team{
        grid-template-columns: repeat(1,1fr);
        width: fit-content;
        /* margin: auto; */
    }
    .management-team{
        grid-template-columns: repeat(1,1fr);
        width: fit-content;
        /* margin: auto; */
    }
    .social-team{
        grid-template-columns: repeat(1,1fr);
        width: fit-content;
        /* margin: auto; */
    }
    .publicity-team{
        grid-template-columns: repeat(1,1fr);
        width: fit-content;
        /* margin: auto; */
    }
    .title .card{
        width: 300px;
        height: 350px;
    }
    .card_Container .card{
        width: 300px;
        height: 350px;
    }
    .card_Container .card{
        width: 300px;
        height: 350px;
    }
}

@media screen and (min-width: 1158px) and (max-width: 1450px) {
    .wrapper .card_Container{
        /* border: 1px solid white; */
        width: 1100px;
    }
}